*.iml
.gradle
/local.properties
/.idea

.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/buildSrc/build

#Dependency graph generator folders
/common/build/
/feature/select-info/build/
/common/network/build/
/build-logic/convention/build

app.properties